@import 'variables/colors';
@import 'variables/breakpoint';
@import 'mixin/mixin';
@import 'base/base';

body {
  max-width: 1280px;
  margin: 0 auto;
}

// nav
#nav {
  height: 6rem;
  position: relative;
  background: $white;
  z-index: 1;
  @include mq('sp') {
    position: absolute;
    top: 0;
    right: 6rem;
  }
  .nav-btn {
    @include btn;
    position: absolute;
    height: 6rem;
    width: 25rem;
    top: 0;
    right: 0;
    @include mq('sp') {
      width: 15.7rem;
    }
    a {
      @include btn-link;
    }
  }
}

/* ハンバーガー */
#nav-drawer {
  position: absolute;
  right: 19.48px;
  display: none;
  @include mq('sp') {
      display:block;
  }
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display: none;
}

/*アイコンのスペース*/
#nav-open {
  /* display: inline-block; */
  width: 38.52px;
  height: 22px;
  position: absolute;
  top: 15.5px;
  right: -69px;
  z-index: 999;
}

/*ハンバーガーアイコンをCSSだけで表現*/
.nav-line,
.nav-line:before,
.nav-line:after {
  position: absolute;
  height: 4px; /*線の太さ*/
  width: 38.52px; /*長さ*/
  border-radius: 5px;
  background: $pink;
  display: none;
  content: '';
  cursor: pointer;
  z-index: 99999;
  transition: all 0.3s ease-in-out;
}
.nav-line:before {
  bottom: -10px;
}
.nav-line:after {
  bottom: -20px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none; /*はじめは隠しておく*/
  position: fixed;
  z-index: 50;
  top: 0; /*全体に広がるように*/
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 50;
  width: 90%; /*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px; /*最大幅（調整してください）*/
  height: 100%;
  background: #fff; /*背景色*/
  transition: 0.3s ease-in-out; /*滑らかに表示*/
  -webkit-transform: translateX(105%);
  transform: translateX(105%); /*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block; /*カバーを表示*/
  opacity: 0.5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%); /*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
}
#nav-content {
  padding-top: 5rem;
  text-align: center;
}
.drawer-item {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 2rem;

  list-style: none;

  border-bottom: 1px solid #ddd;
}
// .drawer-item:after {
//   content: "";
//   position: absolute;
//   right: 30px;
//   top: 47%;
//   transition: all 0.2s ease-in-out;
//   display: block;
//   width: 15px;
//   height: 15px;
//   border-top: solid 3px $pink;
//   border-right: solid 3px $pink;
//   -webkit-transform: rotate(45deg);
//   transform: rotate(45deg);
//   pointer-events: none;
// }
.drawer-link {
  font-size: 1.8rem;
  color: #2b2b2b;
  font-weight: bold;
}
.drawer-icons {
  margin-top: 4rem;


  a:last-child .icon {
    margin-right: 0;
  }
  .icon {
    margin-right: 2rem;
    color: #2B2B2B;
      &:before {
          font-size: 2rem;
        }
  }
}

/* アイコンクリック時 */
.nav-line::before,
.nav-line::after {
  -webkit-transform: rotate(0);
  transform: rotate(0);
  transition: all 0.3s ease-in-out;
}
#nav-input:checked ~ #nav-open .nav-line {
  background-color: #fff;
}
#nav-input:checked ~ #nav-open .nav-line:before {
  -webkit-transform: translateY(5px) rotate(-45deg);
  transform: translateY(5px) rotate(-45deg);
}
#nav-input:checked ~ #nav-open .nav-line:after {
  -webkit-transform: translateY(-5px) rotate(45deg);
  transform: translateY(-5px) rotate(45deg);
}
#nav-input:checked ~ #nav-open {
    width: 38.52px;
  height: 22px;
  position: fixed;
  top: 12.5px;
  right: 19.5px;
  z-index: 999;
}

#nav-open span,
#nav-open span:before,
#nav-open span:after {
  @include mq('sp') {
    display: block;
  }
}

span .home {
  padding-left: 3rem;
  color: $pink;
  font-weight: bold;
}
.current-item,
.category span {
  color: $pink;
  font-weight: bold;
  font-size: 1.4rem;
}
span .home span {
  font-size: 1.4rem;
}

// header

.header-container {
  display: flex;
  // justify-content: flex-start;
}
.nav-container {
  margin-right: 2.3rem;
  background: $white;
  position: absolute;
  margin-right: auto;
  @include mq('tab') {
  }
  @include mq('sp') {
    display: none;
  }
  .header-logo {
    margin-left: 3.5rem;
    @include mq('tab') {
      width: 180px;
      margin-left: 1.5rem;
    }
  }

  .nav-contents {
    max-width: 264px;
    background: $bg;
    padding: 6rem 3.4rem 6rem 7rem;
    @include mq('tab') {
      padding: 1rem 3rem 6rem 3rem;
    }
    // @include mq('sp') {
    //  display: none;
    // }
    .nav-item {
      margin-top: 4rem;
      font-size: 2rem;
      font-weight: bold;
      @include mq('tab') {
        margin-top: 3rem;
      }
      @include mq('sp') {
      }
      a {
        color: $black;
      }
    }
    .icons {
      margin-top: 6rem;
      @include mq('tab') {
        margin-top: 4rem;
      }
      @include mq('sp') {
      }
      .icon {
        margin-right: 2.5rem;
        &:before {
          font-size: 2rem;
        }
      }
    }
  }
}
.mv-container {
  margin-left: auto;
  padding: 0 5rem;
  @include mq('sp') {
    margin-right: 0;
    position: relative;
    padding: 0;
    margin-top: 6rem;
  }
  .mv {
    width: 100%;
  }
  .header-logo-sp {
    display: none;
    @include mq('sp') {
      display: block;
      width: 125px;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

// nav

// primary
.inner {
  @include inner;
}
.primary-wrapper {
  margin-top: 12.9rem;
  @include mq('sp') {
    margin-top: 8rem;
  }
}
.primary-item {
  display: flex;
  margin-bottom: 14rem;

  @include mq('sp') {
    flex-direction: column;
    // max-width: 500px;
    margin-bottom: 8rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
  &:nth-child(even) .primary-desc {
    text-align: left;
  }
}

.primary-txt-wrapper {
  width: 100%;
  margin-right: 12rem;
  @include mq('tab') {
    margin-right: 5rem;
  }

  .primary-heading {
    display: flex;
    align-items: center;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 2.88px;
    @include mq('tab') {
      font-size: 3.5vw;
    }
    @include mq('sp') {
      font-size: 3rem;
    }

    &:before {
      content: '';
      display: inline-block;
      flex-grow: 1;
      height: 3px;
      background-color: $pink;
      margin-right: 3rem;
    }
  }
  .primary-desc {
    margin-top: 4.8rem;
    text-align: right;
    font-size: 1.4vw;
    line-height: 2.4;
    letter-spacing: 0.38px;
  
    @include mq('sp') {
      font-size: 1.6rem;
      margin-top: 2.5rem;
      line-height: 2;
       text-align:left;
    }

    .brsp {
      @include brsp;
    }
    .brpc {
      @include brpc;
    }
  }
}
.primary-item:nth-child(even) .primary-txt-wrapper {
  order: 2;
  margin-right: 0;
  margin-left: 6rem;
  @include mq('sp') {
    order: 1;
    margin-left: 0;
  }
  .primary-heading {
    &:after {
      content: '';
      display: inline-block;
      flex-grow: 1;
      height: 3px;
      background-color: $pink;
      margin-right: 0;
    }
    &:before {
      display: none;
    }
  }
}
.primary-item:last-child .primary-txt-wrapper {
  width: 50%;
  @include mq('tab') {
    margin-right: 3rem;
    width: 100%;
  }
  @include mq('sp') {
    margin-right: 0;
  }
}

.primary-item:nth-child(even) .primary-img {
  @include mq('sp') {
    order: 2;
  }
}

.primary-img {
  width: 102%;
  @include mq('tab') {
      width: 100%;
  }
  @include mq('sp') {
    margin-top: 4rem;
  }

  img {
    width: 100%;
  }
}

.primary-table {
  width: 100%;
  max-width: 47.5rem;
  margin: 4.8rem auto 0;
  // word-break: break-word;
  white-space: nowrap;

  tr {
    border-bottom: 1px solid $line;
    td {
      padding-top: 1.8rem;
      padding-bottom: 0.8rem;
      // font-size: 1.6rem;
      font-weight: bold;
      letter-spacing: 1.3px;
      font-size: 1.4vw;
      padding-left: 2rem;
      @include mq('sp') {
          font-size: 1.6rem;
      }
    }

    td:first-child {
      padding-left: 2.5rem;

    }
    td:nth-child(2n) {
      text-align: right;
      padding-right: 3.3rem;
      @include mq('sp') {
          padding-right: 2.5rem;
          min-width: 140px;

      }
    }
  }
}
.primary-btn-sp {
  @include btn;
  width: 18rem;
  height: 5rem;
  display: none;

  @include mq('sp') {
    display: block;
    margin: 4rem auto;
  }
  a {
    @include btn-link;
  }
}

.primary-img-wrapper {
  display: flex;
  @include mq('sp') {
    margin-top: 6rem;
    justify-content: space-between;
  }
  .primary-img1 {
    margin-right: 3.45rem;
    position: relative;
    top: 2rem;
    max-width: 250px;
    // max-height: 34.5rem;
    @include mq('tab') {
      width: 50%;
      margin-right: 2.45rem;
    }
  }
  .primary-img2 {
    position: relative;
    top: -6.5rem;
    @include mq('tab') {
      width: 50%;
    }
  }
  .primary-img1 img,
  .primary-img2 img {
    width: 100%;
  }
}
.primary-btn-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 23vw;
  margin-bottom: 10rem;
  @include mq('tab') {
    margin-top: 7rem;
  }
  @include mq('sp') {
    display: none;
  }
  &:after {
    content: '';

    display: inline-block;
    flex-grow: 1;
    height: 3px;
    background-color: $pink;
  }
  .primary-btn {
    background: $pink;
    display: inline-block;
    white-space: nowrap;
    position: relative;
    height: 5rem;
    width: 22.4rem;

    @include mq('tab') {
      font-size: 3.5vw;
    }

    a {
      @include btn-link;
    }
  }
}

// footer
#footer {
  background: $bg;
  width: 100%;
}
.narrow {
  @include narrow;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
  @include mq('sp') {
    flex-direction: column;
    padding-top: 2.5rem;
  }
}

.footer-list-wrapper {
  display: flex;
  @include mq('sp') {
    order: 2;

    margin: 3rem auto 0;
  }
}

.footer-list {
  &:first-child {
    margin-right: 12rem;
    @include mq('sp') {
      margin-right: 6rem;
    }
  }
  .footer-list-item {
    margin-top: 3rem;

    &:first-child {
      margin-top: 0;
    }

    .footer-list-link {
      font-size: 1.8rem;
      color: $black;
      font-weight: bold;
      letter-spacing: 0.72px;
      @include mq('sp') {
        font-size: 1.4rem;
      }
    }
  }
}

.footer-img {
  width: 150px;
  height: 150px;
  @include mq('sp') {
    margin: 0 auto;
  }
}

.copyright {
  text-align: right;
  margin-top: 4rem;
  padding-bottom: 2rem;
  @include mq('sp') {
    text-align: center;
  }
}
