// media query
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
@mixin mq($breakpoint: tab) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// inner

@mixin inner {
  max-width: 100%;
  padding: 0 5rem;
  margin: 0 auto;
  @include mq('tab') {

  padding-left: 4rem;
  padding-right: 4rem;
  margin: 0 auto;
  }
  @include mq('sp') {

  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
  }
}



@mixin narrow {
  // text-align: center;
  max-width: 100%;
  padding: 0 15rem;
  margin: 0 auto;
  @include mq('tab') {
        padding: 0 6rem;
  }
  @include mq('sp') {
         padding: 0 1.5rem;
  }
}

@mixin full {
  max-width: 100%;
  padding: 0 1.5rem;
  margin: 0 auto;
}

// @mixin bg-pic {
//   background-repeat: no-repeat;
//   width: 100%;
//   background-size: cover;

// }

// clear-fix
@mixin clear {
  &::after {
    content: '';
    clear: both;
    display: block;
  }
}

// component
@mixin btn {
  background: $pink;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  position: relative;
}

@mixin btn-link {
  font-size: 2rem;
  color: $white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

@mixin brsp{
  display: none;

@include mq('sp') {
        display: block;
}
}

@mixin brpc{
  display: block;

@include mq('sp') {
        display:none;
}

}
